@media screen and (orientation: landscape)
 {

    button {
    border-style: solid;
    cursor: pointer;
    transition: ease-out 0.4s;
    font-family: 'Courier New', monospace;
    border-radius: 1000px;
    z-index: 0;
    touch-action: manipulation;
    }
    button:active {
        z-index: 2;
        margin-bottom: 0;
        transform: scale(2.5);
        color: rgb(255, 247, 0);
        transition: ease-in .0001s;
        border: inset .625vh;
    }
    
    button:disabled {
        border: inset .625vh;
        transform: scale(.85);
        border-color: black;
        background-color: #00000043;
        color: #00000085;
    }
    
    header {
        position: fixed;
        text-shadow: .2vh .2vh .375vh #393939;
        color: black;
        font: bold 2vw 'Courier New', monospace;
        right: 1%;
    }
    
    body {
        text-shadow: .15vh .15vh .6vh #414141;
        font: lighter 'Courier';
        color: black;
        background-color: peachpuff;
        width: 100%;
    }
    
    #LetterButtonsHeader {
        font-family: 'Courier New', monospace;
        font-size: 5vh;
        color: black;
        font-weight: bold;
    }
    
    .LetterButtons {
        font-family: 'Courier New', monospace;
        background-color: #ffeee0;
        text-align: center;
        font-size: larger;
        position: relative;
        border: solid .75vh #4a4a4a;
        border-radius: 25px;
        width: 92.5%;
        flex-wrap: wrap;
        align-items: flex-end;
        margin-top: 0;
        left: .5%;
    }
    
    .alphabetbtn {
        text-shadow: .15vh .15vh .45vh #343053;
        border: outset .6vh black;
        text-align: center;
        position: relative;
        font-size: 5vh;
        margin: 2% 0 2% 1.5%;
        background-color: #e1efff;
        color: black;
        touch-action: manipulation;
    }
    
    .btn1, .btn2, .btn3, .btn4, .btn5 {
        font-family: 'Courier New';
        position: relative;
        text-align: center;
        font-size: 5vh;
        touch-action: manipulation;
    }
    
    .btn4, .btn5 {
        border: solid .4vh #3f3f3f;
        background-color: aquamarine;
        margin: 2% 0;
        display: inline;
    }
    
    .btn1, .btn2 {
        border: solid .3525vh black;
        left: 20%;
        margin: 0.5% 0 0.5% 1.5%;
        display: inline-flex;
    }
    
    .btn1 { background-color: aquamarine; }
    .btn2 { background-color: #adff2f; }
    .btn3 { background-color: rgb(255, 221, 86); }
    
    #Phrase 
    {
        margin-bottom: 1vh;
        font-family: 'Courier New', monospace;
        font-style: italic;
        text-align: center;
        color: #171717;
        font-size: 4.5vh;
        font-weight: bold;
    }
    
    #CorrectLetters {
        text-align: center;
        font: bold 7vh 'Courier New', monospace;
        letter-spacing: 4.5vh;
    }
    
    .FinalGuessInputCont {
        margin-top: 0;
        font-size: 4vh;
        text-align: center;
    }
    
    #FinalGuessInputFieldIndicator {
        position: relative;
        margin-left: 37vw;
        border: solid .4vh;
        border-radius: 3vh;
        font-size: 3.25vh;
        width: 25%;
        height: 2vw;
        background-color: white;
    }
    
    .pointturncalc {
                font-family: 'Courier New', monospace;
        text-shadow: .15vh .1vh .35vh #393939;
        position: fixed;
        font-size: 3vh;
        display: inline-block;
        left: 2.5%;
        top: 1.5%;
        width: 17.5%;
    }
    
    #Timer {
        color: orangered;
        top: 10%;
    }
    
    #tips {
        text-align: center;
        transition: ease-in-out 1s;
        font: lighter italic large;
        font-size: 2.75vh;
        position: fixed;
        top: -1.5%;
        right: 5%;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 90%;
        height: 70%;
        color: rgb(161, 249, 255);
        border: solid 2.75px white;
        padding: 5px;
        background-color: rgba(0, 0, 0, 0.89);
        border-radius: 12px;
    }
    
    #p6, #p5, #p4, #p3 
    {

        margin-top: .5vh;
    }
    
    #DataSourceString {
    opacity: 0;
}
}



/*@media screen and (orientation: landscape) 
{
    button:active 
    {
        z-index: 2;

        margin-bottom: 0;
        transform: scale(2.5);
        color: rgb(255, 247, 0);
        transition:  ease-in .0001s;   
        overflow-wrap: normal;
        border-style: inset;
        border-width: .625vh;
    }
    button:disabled 
    {

        border-style: inset;
        border-width: .625vh;
        transform: scale(.85);

        border-color: #000000;
        background-color: #00000043;
        color: #00000085;
    }
    header 
    {       
        position: fixed;
        text-shadow: 
        .2vh .2vh .375vh #393939;
         
        color: black;
        font-size: 2vw;
        font-family: 'Courier New', monospace;
        font-weight:bold;
         
        right: 1%;
    }
    body{
        text-shadow: 
        .15vh .15vh .6vh #414141;
        
        font-family: 'Courier';
        color: black;
        font-weight:lighter;
        background-color: peachpuff;
        width: 100%;
    }
    #LetterButtonsHeader
    {
        font-size: 5vh;
        color: rgb(0, 0, 0);
        font-weight: BOLD;
    }
    .LetterButtons
    {  
        background-color: #ffeee0;
        text-align: center;
        font-size: larger; 

        position: relative;

        border-style:solid;
        border-radius: 25px;
        border-width: .75vh;
        border-color: #4a4a4a;;

        width: 92.5%;
        
        flex-wrap: wrap;
        align-items: flex-end;
        
        margin-top: 0vh;
        left: .5%;
    }
    .alphabetbtn{
        text-shadow: 
        .15vh .15vh .45vh #343053;

        border-style: outset;
        border-width: .6vh;
        border-color: #000000;;

        text-align: center;
        position: relative;
        font-size: 5vh;

        margin-left: 1.5%;
        margin-bottom: 2%;
        margin-top: 2%;   
        
        background-color: #e1efff;
        color: rgb(0, 0, 0);    
        
        touch-action: manipulation;
    }
    .btn4,.btn5
    {

        border-style: solid;
        border-color: #3f3f3f;

        font-family: 'Courier New';
        position: relative;
        text-align: center;
        display: inline;

        margin-top: 2%;
        margin-bottom: 2%;
        border-width: .4vh;
        font-size: 5vh;
        
        color: black;
        background-color: aquamarine;

        touch-action: manipulation;
    }
    .btn1,.btn2
    {
        color: #000000;
        font-family: 'Courier New';
        position: relative;
        display: inline-flex;

        left: 20%;

        border-width: .3525vh;

        margin-top: 0.5%;
        margin-left: 1.5%;

        text-align: center;
        font-size: 5vh;
        border-color: #000000;

        touch-action: manipulation;
    }
    .btn1{
        background-color: aquamarine;  
    }
    .btn2{
        background-color: #adff2f;
    }
    .btn3
    {
        background-color: rgb(255, 221, 86);  
    }
    #Phrase
    {
        margin-bottom: 1vh;
        font-style: italic;
        text-align: center;

        color: #171717;

        font-size: 4.5vh;
        font-weight: bold;
    }
    #CorrectLetters
    { 

        text-align: center;
        font-weight: bold;
        font-family: 'Courier', Courier New, monospace;
        font-size: 7vh;
        letter-spacing: 4.5vh;
    }
    .FinalGuessInputCont
    {
        margin-top: 0vh;
        font-size: 4vh;
        text-align: center;
    }
    #FinalGuessInputFieldIndicator
    {
        position: relative;

        margin-left: 37vw;
        border-style:solid;
        border-radius: 3vh;

        font-size: 3.25vh;

        width: 25%;
        height: 2vw;
        border-width: .4vh;

        
        background-color: rgb(255, 255, 255);
    }
    .pointturncalc{

        text-shadow: 
        .15vh .1vh .35vh #393939;
        
        position: fixed;
        font-size: 3vh;
        display:inline-block;

        left: 2.5%;
        top: 1.5%;
        width: 17.5%;
    }
    #Timer{
        color: orangered;
        top: 10%;
    }
    #tips
    {
        text-align: center;
        transition:  ease-in-out 1s;   
        
        font-size: large;
        font-weight: lighter;
        font-style: italic;
    
        position:fixed;
        top: -1.5%;
        right: 5%;
        overflow:scroll;
        overflow-x:hidden;
        width: 90%;
        height: 70%;
        
    
        color: rgb(161, 249, 255);
        border: 2px solid #ffffff;
        border-width: 2.75px;
        padding: 5px 5px 5px;
        background-color: rgba(0, 0, 0, 0.89);
        border-radius: 12px;
    
    }  
        #p6,#p5,#p4
        {
            margin-top: .5vh;
        } 
}*/