
.Difficultybtn, .btn3
{
    border-color: black;
    color: black;
}
#StandardModeBtn
{
    background-color:aquamarine;
}
#EasyModeBtn
{
    background-color:lime;
}
#MediumModeBtn
{
    background-color:rgb(255, 247, 0);
}
#DifficultModeBtn
{
    background-color:rgb(255, 4, 4);
}
.btn3
{
    scale: 70%;
}

@media screen and (orientation: portrait) 
{
    body
    {
        text-shadow: 
        .2vw .2vw .375vw #393939;
        
        font-size: 6vw;
        text-align: center;
        font-family: 'Courier';
        color: black;
        font-weight:lighter;
    
        background-color: peachpuff;
        width: 100%;
        
    }
    .btncont
    {
        margin-top: 5%;
    }
    .DifficultybtnHyper
    {
        text-decoration: none;
    }
    .Difficultybtn, .btn3
    {
        width: 65%;
        font-size: 10vw;
        margin-left: 16%;
        display: block;
        
        margin-top: 15%;
        margin-bottom: 1vw;
    }
    .versionctrl
    {
        position:fixed;
        top: 94%;
        right: 8%;
        font-size: 3vw;
        opacity: 25%;
    }
    
}
@media screen and (orientation: landscape) 
{
    body
    {
        text-shadow: 
        .2vh .2vh .375vh #393939;
        
        font-size: 6vh;
        text-align: center;
        font-family: 'Courier';
        color: black;
        font-weight:lighter;
    
        background-color: peachpuff;
        width: 100%;
        
    }
    .btncont
    {
        margin-top: 7.5%;
    }
    .DifficultybtnHyper
    {
        text-decoration: none;
    }
    .Difficultybtn,.btn3
    {
        width: 25%;
        font-size: 5vh;
        margin-left: 35%;
        display: block;
    
        margin-top: 3.5%;
        margin-bottom: 0vh;
    }
    .versionctrl
    {
        position:fixed;
        top: 91%;
        right: 4%;
        font-size:large;
        opacity: 75%;
    }
}

