
header 
{       /*
    text-shadow: 
    0px 5px 5px #525252,
    0px 5px 5px #525252,
    0px 5px 5px #525252,
    0px 5px 5px #525252;
    */

    color: black;
    font-size: 4.25vw;
    font-family: 'Courier New', monospace;
    font-weight:bold;
    text-align: center;
}
body{
    font-family: 'Courier New';
    color: black;
    font-weight:lighter;
    background-color: #ffdab9;
    width: 100%;
    height: 100%;
}
#CorrectLetters
{
    text-align: center;
    font-weight: bold;
    font-family: 'Courier', Courier New, monospace;
    font-size: 3.5vw;
    letter-spacing: 5%;
}
.UserInput,.FinalGuessInput{
    text-align: center;
}
#InputFieldIndicator,#FinalGuessInputFieldIndicator
{
    display: inline-flex;
}
#Phrase,#p1
{
    text-align: center;
    font-size: 2vw;
}
#Phrase
{
    font-style: italic;
    font-size: 3.15vw;
    font-weight:  bold;
    color:aquamarine;
    text-shadow: 
    0px 1px 1px #000000,
    0px 1px 1px #000000,
    0px 1px 1px #000000,
    0px 1px 1px #000000;
}   
.pointturncalc{
    position: fixed;
    bottom: 5%;
    right: 5%;
}
.infocont{
    display: flex;
}
#alphabetheader
{
    font-weight:  bold;
    font-size: 2.75vw;
    margin-left: 25%;
}
#alphabet
{
    color: dimgrey;
    font-style: italic;
    background-color: rgb(255, 231, 210);
    overflow-wrap: break-word;
    font-size: 3.5vw;
    border-style: solid;
    border-color: black;
    width: 30%;
    height: 40%;
    text-align: center;
    margin-left: 20%;
}
#LettersUsed
{

    color: dimgrey;
    font-weight: bold;
    background-color: rgb(255, 231, 210);
    overflow-wrap: break-word;
    font-size: 4.5vw;
    border-style: solid;
    border-color: black;
    width: 30%;
    text-align: center;
}

button{
    border-style: solid;
    border-width: 5%;
    width: 12vw;
    height: 5vh;
    border-radius: 7%;
    font-weight: 400;
    cursor: pointer; 
    transition:  ease-in-out .15s;   
    font-size:75%;
}
button:active
{
    transform: scale(.95);
    background-color: gold;
    font-weight: 250;
    color: rgb(255, 255, 255);
}
.btn1{
    position: fixed;
    bottom: 5%;
    font-family: 'Courier New';
    color: black;
    background-color: aquamarine;
    
}
.btn2{
    position: fixed;
    bottom: 5%;
    left: 18%;
    font-family: 'Courier New';
    color: black;
    background-color: #adff2f;
}

.btn1:hover:not(:active) /* pseudo code */
{
    transform: scale(1.05);
    background-color: rgb(199, 255, 236);
}
.btn2:hover:not(:active)  /* pseudo code */
{
    transform: scale(1.05);
    background-color: rgb(215, 251, 160);
}
#tips{
    font-size: small;
    font-weight: lighter;
    font-style: italic;
}
.versionctrl{
position:fixed;
top: 96%;
right: 2%;
font-size: x-small;
opacity: 25%;
}
